*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.section-search input{
    padding: 5px !important;
    font-size: 13px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid;
}

.section-follow .fa-2x{
    margin: 5px 10px;
}